{% extends 'layout/home.html' %}

{% block style %}
    #main {
        width: 400px;
        //height: 20px;
        display: flex;
        justify-content: space-between;
    }
    .one {
        margin-top:2px;
        font-size:18px;
        font-weight:900;
        //background-color: aquamarine;
    }
    .two {
        margin-top:6px;
        //background-color: peru;
    }
{% endblock %}

{% block navbar %}
<li><a href="/customer/">用户主页</a></li>
{% endblock %} 

{% block content %}
    <div class="container">
        <div class='panel panel-default'>
            <div class='panel-heading'> 
                <div id='main'> 
                    <h4>维修委托信息 
                        <span class="label label-primary">{{ orderStatus }}</span> 
                        <a class="btn btn-link" href="#" onClick="javascript :history.back(-1);">返回</a>
                    </h4>
                </div>
            </div>
            <div class='panel-body'>
                <form id='formInfo' novalidate>
                    <div class='clearfix'>
                    {% for field in orderInfo %}
                        <div class='col-xs-6'>
                            <label >{{field.label}}</label>
                            {{field}}
                            <!-- 显示错误信息（field.errors值为列表，.0访问第一个元素） -->
                            <span class='error-msg' style="color: red;"></span> <br>
                        </div>
                    {% endfor %}
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if orderStatus != "待受理" %}
    <div class="container">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class='panel-heading'> 
                <div id='main'> 
                    <div class='one'> 
                        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                        维修项目列表
                    </div>
                </div>    
            </div>
          
            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>项目编号</th>
                    <th>项目名称</th>
                    <th>维修员姓名</th>
                    <th>状态</th>
                  </tr>
                </thead>
                <tbody>
                    {% for obj in workOrderList %}
                    <tr>
                        <th scope="row">{{ obj.workOrderId }}</th>
                        <td>{{ obj.itemId.itemName }}</td>
                        <td>{{ obj.mid.mName }}</td>
                        <td><span class="label label-default">{{ obj.get_status_display }}</span></td>
                    {% endfor %}
                </tbody>
              </table>
          </div>
    </div>
    {% endif %}

{% endblock %}


{% block js %}
    <script type='text/javascript'>

    </script>

{% endblock js %}


