{% extends 'layout/home.html' %}

{% block style %}
    #main {
        //width: 600px;
        //height: 20px;
        display: flex;
        justify-content: space-between;
    }
    .one {
        margin-top:2px;
        font-size:18px;
        font-weight:900;
        //background-color: aquamarine;
    }
    .two {
        margin-top:6px;
        //background-color: peru;
    }

    .all {
        display: flex;
        height: 70px;
    }
    .left {
        width: 100px;
        height: 50px;
        justify-content: flex-start;
        display: flex;
        align-items: center;
    }
    .right {
        flex: 1;
        height: 50px;
        justify-content: flex-end;
        display: flex;
        align-items: center;
    }
{% endblock %}

{% block navbar %}
    <li><a href="/maintenanceman/">维修员主页</a></li>
{% endblock %} 

{% block content %}
    <div class="container">
        <div class='panel panel-default'>
            <div class='panel-heading'> 
                <div id='main'> 
                    <div class='one'>
                        派工单信息 
                        <span class="label label-danger">{{ workOrderStatus }}</span> 
                        {% comment %} <a class="btn btn-link" href="#" onClick="javascript :history.back(-1);">返回</a> {% endcomment %}
                    </div>
                    {% comment %} <a class="btn btn-primary" href="/salesman/edit_order/?orderId={{ orderId }}">保存编辑</a> {% endcomment %}
                    {% if workOrderStatus == '待开始' %}
                        <a class="btn btn-primary" href='/maintenanceman/start_workorder/?workOrderId={{ workOrderId }}'>开始</a>
                    {% elif workOrderStatus == '进行中' %}
                        <a class="btn btn-success" href='/maintenanceman/finish_workorder/?workOrderId={{ workOrderId }}'>完成</a>
                    {% endif %}
                </div>
            </div>
            <div class='panel-body'>
                <form id='formInfo' novalidate>
                    <div class='clearfix'>
                    {% for field in workOrderInfoForm %}
                        <div class='col-xs-6'>
                            <label >{{field.label}}</label>
                            {{field}}
                            <!-- 显示错误信息（field.errors值为列表，.0访问第一个元素） -->
                            <span class='error-msg' style="color: red;"></span> <br>
                        </div>
                    {% endfor %}
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if workOrderStatus != "待开始" %}
    <!-- 【使用零件】列表 -->
    <div class="container">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class='panel-heading'> 
                <div id='main'> 
                    <div class='one'> 
                        使用零件
                        {% if workOrderStatus == '进行中' %}
                        <button class="btn btn-primary two" id="btnAddUsePart">添加零件</button>
                        {% endif %}
                    </div>
                </div>    
            </div>
          
            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>零件编号</th>
                    <th>零件名称</th>
                    <th>零件数量</th>
                    <th>零件单价</th>
                    <th>零件费</th>
                    {% if workOrderStatus == '进行中' %}
                    <th>操作</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody>
                    {% for obj in usePartList %}
                    <tr>
                        <th scope="row">{{ obj.partId.partId }}</th>
                        <td>{{ obj.partId.partName }}</td>
                        <td>{{ obj.partNumber }}</td>
                        <td>{{ obj.partId.price }}</td>
                        <td>{{ obj.partCost }}</td>
                        {% if workOrderStatus == '进行中' %}
                        <td>
                            <a class="btn btn-danger btn-xs" id="btnDelUsePart" nId="{{obj.nId}}">删除</a>
                        </td> 
                        {% endif %}
                    {% endfor %}
                </tbody>
              </table>
          </div>
    </div>

    <!-- 新增使用零件（对话框） -->
    <div class="modal fade" id="addUsePartModal" tabindex="-1" role="dialog" aria-labelledby="addUsePartModalLabel">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="addUsePartModalLabel">新增零件</h4>
            </div>
            <div class="modal-body">
                <form id='formAddUsePart' novalidate>
                    <div class='clearfix'>
                    {% for field in addUsePartForm %}
                        <div class='col-xs-6'>
                            <label >{{field.label}}</label>
                            {{field}}
                            <!-- 显示错误信息（field.errors值为列表，.0访问第一个元素） -->
                            <span class='error-msg' style="color: red;">{{field.errors.0}}</span> <br>
                        </div>
                    {% endfor %}
                    </div>

                    {% comment %} <button id='btnAdd' type="button" class="btn btn-primary">提 交</button> {% endcomment %}
                </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button id='btnSubmitAddUsePart' type="button" class="btn btn-primary">提交</button>
            </div>
        </div>
        </div>
    </div>
    {% endif %}

{% endblock %}


{% block js %}
    <script type='text/javascript'>
        $(function () {
            bindBtnAddUsePart();
            bindBtnSubmitAddUsePart();
            bindBtnDelUsePart();
        })

        function bindBtnDelUsePart() {
            $('#btnDelUsePart').click(function () {
                _nId = $(this).attr('nId');
                // console.log(_nId);
                $.ajax({
                    url: '/maintenanceman/del_usepart/?nId=' + _nId,
                    type: 'get',
                    success: function (res) {
                        // console.log(res);
                        //! 刷新页面
                        location.reload();
                    }
                });
            })
        }

        function bindBtnAddUsePart() {
            $('#btnAddUsePart').click(function () {
                $('#formAddUsePart')[0].reset();
                // 修改对话框标题
                $('#addUsePartModalLabel').text('新增零件');
                // 点击按钮，显示对话框
                $('#addUsePartModal').modal('show');
            })
        }

        function bindBtnSubmitAddUsePart() {
            $('#btnSubmitAddUsePart').click(function () {
                $.ajax({
                    url: '/maintenanceman/add_usepart/?workOrderId={{ workOrderId }}', 
                    type: 'post',
                    data: $('#formAddUsePart').serialize(),
                    success: function (res) {
                        if (res.status) {
                            // 清空表单 $('#formAdd')返回JQuery对象；$('#formAdd')[0]返回DOM对象
                            $('#formAddUsePart')[0].reset();
                            // 关闭对话框
                            $('#addUsePartModal').modal('hide');
                            //! 刷新页面
                            location.reload();

                        }else {
                            $.each(res.error , function (name, data) {
                                $('#id_' + name).next().text(data[0]);
                            })
                        }
                    }
                })
            })
        }

    </script>

{% endblock js %}


